---

---

<section>
  <article>
    <p>
      Mit navn er Nikolaj, jeg er 23 år og til daglig studerer jeg Multimediedesigner på
      KEA. Når jeg ikke er i skole, arbejder jeg som cocktail
      bartender på rooftopbaren Level Six og i cocktailbaren Greenroom. Jeg har
      derudover et bijob som bartender til private arrangementer og
      events.
    </p>

    Som person er jeg generelt positiv og
    imødekommende, og jeg trives med at have mange bolde i luften.
    Jeg er social af natur og trives med at arbejde i et team, hvor jeg
    kan samarbejde med andre og bidrage til fælles mål.

    <p></p>
  </article>
  <div id="social-icons">
    <a href="mailto:nikolajgottschalck@hotmail.com"
      ><img src="/icons/email-icon.svg" alt="Mail" />
    </a>
    <a href="https://github.com/GungeG"
      ><img src="/icons/github-icon.svg" alt="Github" />
    </a>
    <a href="https://www.linkedin.com/in/nikolaj-gunge-gottschalck/"
      ><img src="/icons/linkedin-icon.svg" alt="LinkedIn" /></a
    >
  </div>
</section>

<style>
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  article {
    max-width: 70ch;
    p {
      margin-bottom: 1em;
    }
  }

  p:first-of-type::before {
    content: "❝";
    font-size: 2rem;
    position: absolute;
    margin-left: -2em;
    color: #eb5e00;
  }

  article p:first-of-type {
    text-indent: 2em; /* Indent the first line of the first paragraph */
    font-weight: bold;
  }

  #social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin: 0 1rem;
    }
    img {
      height: 2rem;
      width: auto;
      object-fit: contain;
      transition:
        box-shadow 0.3s ease,
        border-radius 0.3s ease;
    }
  }

  #social-icons img:hover {
    box-shadow: 0 0 20px rgba(232, 232, 232, 0.5);
    border-radius: 50%;
  }
</style>
