---

---

<section>
  <h1>Nikolaj Gunge Gottschalck</h1>
  <h2>23 år, webudvikler</h2>
  <h4>Multimediedesigner 2023-NU</h4>
  <img src="/assets/images/migfoto.jpg" alt="" />
</section>

<style>
  section {
    border: none;
  }
  img {
    width: 300px;
    height: auto;
    margin-top: 20px;
    filter: grayscale(100%);
  }
  section {
    background-color: #120f0d;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h4 {
    text-decoration: underline 2px #eb5e00;
  }
</style>
