---

---

<section>
  <h3>Arbejde og uddannelse</h3>
  <article>
    
      <li>
        <h4>Netto</h4>
        <h5>2017 - 2020</h5>
        <p>Servicemedarbejder</p>
      </li>
      <li>
        <h4>Kokkedal Slot</h4>
        <h5>2020 - 2020</h5>
        <p>Tjener</p>
      </li>
      <li>
        <h4>Boulebar</h4>
        <h5>2020 - 2021</h5>
        <p>Tjener</p>
      </li>
      <li>
        <h4>Mødrehjælpen</h4>
        <h5>2021 - 2021</h5>
        <p>Telesælger</p>
      </li>
      <li>
        <h4>Dagbladet Information</h4>
        <h5>2021 - 2021</h5>
        <p>Telesælger</p>
      </li>
      <li>
        <h4>The Daltonist (Split Croatia)</h4>
        <h5>2022 - 2022</h5>
        <p>Bartender</p>
      </li>
      <li>
        <h4>Greenroom</h4>
        <h5>2021 - NU</h5>
        <p>Bartender</p>
      </li>
      
      <li>
        <h4>Level Six</h4>
        <h5>2023 - NU</h5>
        <p>Bartender</p>
      </li>
      

      <li>
        <h4>Multimediedesigner</h4>
        <h5>2023 - NU</h5>
        <p>Professionsbachelor i Webudvikling.</p>
      </li>
    </ul>
  </article>
</section>

<style>
  section {
    padding: 4rem 0;
  }
  article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  li {
    margin-bottom: 2rem;   
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
