---

---

<section>
  <section>
    <article>
      <p>
        Gennem min uddannelse har jeg opnået kompetencer inden for
        JavaScript, hvor jeg har arbejdet med eventlisteners, funktioner,
        variabler, fetch-metoden samt arrays. Derudover har jeg opbygget en
        stærk forståelse for både CSS og HTML, som jeg har brugt i en række
        projekter. Designmæssigt har jeg også arbejdet en del med Figma for at
        skabe intuitive og æstetiske brugeroplevelser. Jeg arbejder for tiden med React
        via Next.js, hvor jeg har indtil videre har opbygget en webshop som første projekt i forløbet.
      </p>
      <p>
        Jeg ønsker at tilbringe min praktik hos jer, da jeg ser det som en fantastisk
        mulighed for at opleve, hvordan man arbejder med større projekter i et team,
        og forhåbentlig få indsigt i rigtige kundeprojekter. Jeg har også et stærkt
        ønske om at lære TypeScript samt at fordybe mig endnu mere i de grundlæggende
        aspekter af frontend-udvikling.
      </p>
      <p>
        Jeg glæder mig til at høre fra jer
      </p>
    </article>
  </section>

  <style>
    section {
      padding-top: 100px;
      padding-bottom: 50px;
    }

    article {
      max-width: 70ch;
      p {
        margin-bottom: 1em;
      }
    }

    p:first-of-type::before {
      content: "❝";
      font-size: 2rem;
      position: absolute;
      margin-left: -2em;
      color: #eb5e00;
    }

    article p:first-of-type {
      text-indent: 2em; /* Indent the first line of the first paragraph */
      font-weight: bold;
    }
  </style>
</section>
